<div class="create_header">

  <div class="create_header_left_div">
    <%= form_tag search_post_path, :method => 'get', :id => "search_post" do %>
      <div class="post_url_div">www.postif.com/<%= text_field_tag :search, @post.url, :id => 'post_url', :placeholder => 'type a page for your url here' %></div>
      <div class="url_ok_div"><span id="url_ok">&nbsp;</span></div>
      <%= hidden_field_tag 'valid_url', 'false', :id => 'valid_url' %>
    <% end %>
  </div>
  
  <div class="create_header_right_div">
    <script type="text/javascript">
      
        google_ad_client = "ca-pub-1677570997517028"; 
        google_ad_slot = "4494111324";
        google_ad_width = 468;
        google_ad_height = 65;
    </script>
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
    </script>
  </div>
  
</div>

<div class="ipaint_navigation">
  <div><%= link_to 'New Page', reset_page_path(), :class => 'pop' %></div>
  <div><%= link_to 'Open Page', open_page_path(), :class => 'pop' %></div>
  
  <% if edit_page %>
    <div><%= link_to 'Save', '', :class => 'save_without_popup' %></div>
  <% else %>
    <div><%= link_to 'Save', save_page_path(), :class => 'pop' %></div>
  <% end %>
  <div><%= link_to 'Preview', '#', :class => 'preview_canvas' %></div>
  <% if !@post.id.nil? %>
    <div><%= link_to 'Post', '', :class => 'post_page' %></div>
  <% else %>
    <div><%= link_to 'Post', save_page_path(:status => 'post'), :class => 'pop' %></div>
  <% end %>
  
  <% if !@post.status.blank? %>
    <div><%= link_to 'Share', post_path(@post) %></div>
  <% else %>
    <div><%= link_to 'Share', share_page_path(), :class => 'pop' %></div>
  <% end %>
    
  <div><%= link_to 'Renew', renew_page_path(), :class => 'pop' %></div>
  <div><%= link_to 'Delete', delete_page_path(), :class => 'pop' %></div>
</div>


<%= hidden_field_tag 'expiration_date', @post.expiration_date.strftime('%m/%d/%Y'), :id => 'expiration_date' if @post.expiration_date %>
<%= hidden_field_tag 'canvas_html', @post.canvas_html, :id => 'canvas_html' %>
<%= hidden_field_tag 'post_id', @post.id, :id => 'post_id' %>

<div class="tips_wrapper" style="display:none">
	<%= image_tag('ready75.png', :class => 'note note_ready') %>
	<%= image_tag('welcome75.png', :class => 'note note_welcome') %>
	<%= image_tag('tip75.png', :class => 'note note_tip') %>
</div>


<div id="ipaint_frame">

	      <div id="toolbar_close" class="expand"></div>
	      <div id="tool_bar">
	      
	         <div id="tb_canvas">
	            
	            <div id="canvas_bg_1">
	               <div title="White canvas" name="white"  class="canvas_bg button_19x18 canvas_bg_white selected"></div>	               
	               <div title="Black canvas" name="black"  class="canvas_bg button_19x18 canvas_bg_black"></div>
	            </div>
	            <div id="canvas_bg_2">
	               <div title="Transparent canvas" name="transparent"  class="canvas_bg button_19x18 canvas_bg_transparent"></div>
	               <div title="Background color canvas" name="background"  class="canvas_bg button_19x18 canvas_bg_background"></div>
	            </div>
	            <div class="tb_title">Background</div>
	         </div>
	         <div class="tb_v_bar"></div>
	         
	         <div id="tb_tool">
	            <div id="tools_1">
	               <div title="Click and drag to draw" name="pencil"  class="canvas_tool_shape button_19x18 tool_pencil selected"></div>
	               <div class="tool_v_bar"></div>
	               <div title="Click in an area to fill with selected color" name="bucket_solid"  class="canvas_tool_shape button_19x18 tool_bucket_solid" refer="bucket_selection"></div>
	               <div class="tool_v_bar"></div>
	               <div title="Click and drag to erase" name="eraser"  class="canvas_tool_shape button_19x18 tool_eraser"></div>
	               <div class="tool_v_bar"></div>
                  <div title="Erase entire page" name="eraseEntirePage"  class="canvas_tool_shape button_19x18 clear_image"></div>
	               <div class="tool_v_bar"></div>
	               <div title="Color picker" name="eye_dropper" class="canvas_tool_shape button_19x18 tool_eye_dropper"></div>
                  <div class="tool_v_bar"></div>	               
	               <div title="Cut selection" name="cut" class="canvas_tool_shape button_19x18 tool_cut disabled"></div>
	               <div class="tool_v_bar"></div>	
                  <div title="Copy selection" name="copy" class="canvas_tool_shape button_19x18 tool_copy disabled"></div>
	               <div class="tool_v_bar"></div>	
                  <div title="Paste" name="paste" class="canvas_tool_shape button_19x18 tool_paste disabled"></div>
                  
                  <!-- Magnifier is hiddden -->
                  <div style="visibility:hidden;display:none;" class="tool_v_bar"></div>	               
                  <div style="visibility:hidden;display:none;" title="Magnifier" name="zoom_glass" class="canvas_tool_shape button_19x18 tool_glasses"></div>
	            </div>
	            <div id="tools_2">
	               <div title="Rectangular selection" name="select_box" class="canvas_tool_shape button_19x18 tool_select_box" refer="tools_selection"></div>
	               <div class="tool_v_bar"></div>
	               <div title="Simple brush" name="simple_brush" class="canvas_tool_shape button_19x18 tool_brush_simple" refer="brush_selection"></div>
	               <div class="tool_v_bar"></div>
	               <!--
	               <div title="Select all canvas" name="select_all" class="button_19x18 tool_select_all"></div>
	               <div class="tool_v_bar"></div>
	               -->
	               <div title="Crop canvas" name="crop" class="canvas_tool_shape button_19x18 tool_crop disabled"></div>
	               <div class="tool_v_bar"></div>
	               <div title="Resize" name="resize" class="canvas_tool_shape button_19x18 tool_resize disabled"></div>
	               <div class="tool_v_bar"></div>
	               <div title="Rotate" name="rotate" class="canvas_tool_shape button_19x18 tool_rotate disabled"></div>
                  <div class="tool_v_bar"></div>
                  <div title="Delete" name="delete_element" class="canvas_tool_shape button_19x18 tool_delete disabled"></div>                  
	            </div>
               <div id="tools_3">
                  <div title="Add/Edit Hyperlinks" name="add_hyperlink"  class="canvas_tool_shape button_19x18 add_hyperlink"></div>
                  <div class="tool_v_bar"></div>
                  <div title="Insert image..." name="insertImage"  class="canvas_tool_shape button_19x18 insert_image"></div>
               </div>
	            <div class="tb_title tb_title_tools">Tools</div>
	         </div>
	         <div class="tb_v_bar"></div>
	         
	         <div id="tb_font" class="font_panel" >
            
            	<div title="Insert text" name="font" class="canvas_tool_shape button_19x18 tool_font"></div>
               <select class="font_family" name="font_family">
                  <option value="arial" style="font:12px arial;">Arial</option>
                  <option value="Century Gothic" style="font:12px 'Century Gothic'">Century Gothic</option>

                  <option value="comic sans MS" style="font:12px 'comic sans MS';">Comic Sans MS</option>
                  <option value="courier new" style="font:12px 'courier new';">Courier New</option>
                  <option value="georgia" style="font:12px georgia">Georgia</option>
                  <option value="impact" style="font:12px impact">Impact</option>
                  <option value="ms sans serif" style="font:12px 'ms sans serif'">MS Sans Serif</option>
                  <option value="Palatino Linotype" style="font:12px 'Palatino Linotype'">Palatino Linotype</option>

                  <option value="tahoma" style="font:12px tahoma">Tahoma</option>
                  <option value="Times New Roman" style="font:12px 'Times New Roman'">Times New Roman</option>
                  <option value="Trebuchet MS" style="font:12px 'Trebuchet MS'">Trebuchet MS</option>
                  <option value="verdana" style="font:12px verdana">Verdana</option>
                </select>
                <select class="font_size" name="font_size">
                  <option value="8px">8 px</option>
                  <option value="9px">9 px</option>
                  <option value="10px">10 px</option>
                  <option value="11px">11 px</option>
                  <option value="12px">12 px</option>
                  <option value="13px">13 px</option>
                  <option value="14px">14 px</option>
                  <option value="15px">15 px</option>
                  <option value="16px">16 px</option>
                  <option value="18px">18 px</option>
                  <option value="20px">20 px</option>
                  <option value="22px">22 px</option>
                  <option value="24px">24 px</option>
                  <option value="25px" selected="selected">25 px</option>
                  <option value="26px">26 px</option>
                  <option value="28px">28 px</option>
                  <option value="30px">30 px</option>
                  <option value="36px">36 px</option>
                  <option value="48px">48 px</option>
                  <option value="72px">72 px</option>
                </select>
                <div class='font_options'>
                  <div name="bold" title="Bold" class="font_option button_19x18 font_bold"></div>
                  <div name="italic" title="Italic" class="font_option button_19x18 font_italic"></div>
                  <!--
                  <div name="underline" title="Underline" class="font_option button_19x18 font_underline"></div>
                  <div name="strikethrough" title="Strikethrough" class="font_option button_19x18 font_strikethrough"></div>
                  -->
                </div>
	            <div class="tb_title">Text</div>
            </div>	            
	         <div class="font_panel tb_v_bar" ></div>
	         
	         <div id="tb_shape">
	            <div id="tb_shape_container">
		            <div name="line"                        title="Line"                        class="canvas_tool_shape button_19x18 shape_line         "></div>
		            <div name="curve"                       title="Curve"                       class="canvas_tool_shape button_19x18 shape_curve        "></div>
		            <div name="oval"                        title="Oval"                        class="canvas_tool_shape button_19x18 shape_oval         "></div>
		            <div name="rectangle"                   title="Rectangle"                   class="canvas_tool_shape button_19x18 shape_box          "></div>
		            <div name="rounded_rectangle"           title="Rounded rectangle"           class="canvas_tool_shape button_19x18 shape_round_box    "></div>
		            <div name="polyline"                    title="Polyline"                    class="canvas_tool_shape button_19x18 shape_polyline     "></div>
		            <div name="polygon"                     title="Polygon"                     class="canvas_tool_shape button_19x18 shape_polygon      "></div>
		            <div name="cardinal_spline"             title="Cardinal-spline"             class="canvas_tool_shape button_19x18 shape_cardinal_spline"></div>
		            <div name="closed_cardinal_spline"      title="Closed cardinal-spline"      class="canvas_tool_shape button_19x18 shape_closed_cardinal_spline"></div>
		            <div name="triangle"                    title="Triangle"                    class="canvas_tool_shape button_19x18 shape_triangle     "></div>
		            <div name="diamond"                     title="Diamond"                     class="canvas_tool_shape button_19x18 shape_diamond      "></div>
		            <div name="pentagon"                    title="Pentagon"                    class="canvas_tool_shape button_19x18 shape_pentagon     "></div>
		            <div name="hexagon"                     title="Hexagon"                     class="canvas_tool_shape button_19x18 shape_hexagon      "></div>
		            <div name="right_arrow"                 title="Right arrow"                 class="canvas_tool_shape button_19x18 shape_r_arrow      "></div>
		            <div name="left_arrow"                  title="Left arrow"                  class="canvas_tool_shape button_19x18 shape_l_arrow      "></div>
		            <div name="up_arrow"                    title="Up arrow"                    class="canvas_tool_shape button_19x18 shape_u_arrow      "></div>
		            <div name="down_arrow"                  title="Down arrow"                  class="canvas_tool_shape button_19x18 shape_d_arrow      "></div>
		            <div name="four_point_star"             title="Four-point star"             class="canvas_tool_shape button_19x18 shape_4_star       "></div>
		            <div name="five_point_star"             title="Five-point star"             class="canvas_tool_shape button_19x18 shape_5_star       "></div>
		            <div name="six_point_star"              title="Six-point star"              class="canvas_tool_shape button_19x18 shape_6_star       "></div>
		            <div name="rounded_rectangular_callout" title="Rounded rectangular callout" class="canvas_tool_shape button_19x18 shape_baloon_box   "></div>
		            <div name="heart"                       title="heart"                       class="canvas_tool_shape button_19x18 shape_heart"></div>
		            <div name=""                            title=""                            class="canvas_tool_shape button_19x18 shape_baloon_shape "></div>
	            </div>
	            <div class="tb_shape_outline">
	               <input type="checkbox" id="shape_with_outline" checked="true" /><label for="shape_with_outline" style="font:11px arial;">Outline</label>
	            </div>
	            <div class="tb_shape_fill">
	               <input type="checkbox" id="shape_with_fill" checked="true" /><label for="shape_with_fill" style="font:11px arial;">Fill</label>
	            </div>
	            
	            <div class="tb_title" style="width:auto;right:5px;text-align:right;">Shapes&nbsp;</div>
	         </div>
	         <div class="tb_v_bar"></div>
	         
	         <div id="tb_size">
	            <div class="line_width line-width selected" name="size_1px" title="1px" style="top: 5px;"><div class="size_1_px"></div></div>
	            <div class="line_width line-width" name="size_3px" title="3px" style="top:16px;"><div class="size_3_px"></div></div>
	            <div class="line_width line-width" name="size_5px" title="5px" style="top:27px;"><div class="size_5_px"></div></div>
	            <div class="line_width line-width" name="size_8px" title="8px" style="top:38px;"><div class="size_8_px"></div></div>
	            <input type="text" class="input_line_width" title="Customized line width" 
	                   style="position:absolute;top:55px;text-align:center;left:8px;width:40px;height:12px;font:11px arial;" />
	            <div class="tb_title">Size</div>
	         </div>
	         <div class="tb_v_bar"></div>
	         
	         <div id="tb_color">
	            <div class="swap_color" title="Swap the active Line and Fill colors"></div>
               <div id="fore_color_label" style="position:absolute;left:12px;top:16px;font:11px arial;color:#8E79A1;">Line</div>
               <div id="fore_color_border" style="position:absolute;left:35px;top:10px;width:24px;height:24px;overflow:hidden;background:#ffffff;border:1px solid black;z-index:2;">
                  <div id="fore_color" style="position:absolute;left:1px;top:1px;bottom:1px;right:1px;;overflow:hidden;background-color:none;cursor:pointer;" title="Set color for lines,borders, and text"></div>
               </div>
               <div id="back_color_label" style="position:absolute;left:77px;top:26px;font:11px/11px arial;color:#8E79A1;">Fill</div>
               <div style="position:absolute;left:47px;top:20px;width:24px;height:24px;overflow:hidden;background:#ffffff;border:1px solid black;z-index:1;">                  
                  <div id="back_color" style="position:absolute;left:1px;top:1px;bottom:1px;right:1px;;overflow:hidden;background-color:#0000cc;cursor:pointer;" title="Set fill color for Shapes,Fill Bucket, and Background"></div>
               </div>
               
               <div id="opacity_slider" class="opacity_selector slider_h">
	               <div class='slider_bar'></div>
	               <div class='slider_knob' title="Set the opacity of Line and Fill colors"></div>
               </div>
               
	            <div class="tb_title">Colors &amp; Opacity</div>
	         </div>
	         <div class="tb_v_bar"></div>
	         
	         <div id="tb_ruler">
	            <div class="show_hide_ruler">
	               <input type="checkbox" id="show_hide_ruler" checked="true" /><label for="show_hide_ruler">Rulers</label>
	               <input type="checkbox" id="show_hide_grid" checked="true" /><label for="show_hide_grid">Gridlines</label><br />
	               <label for="ruler_canvas_width"  style="width:40px;display:inline-block;">Width</label><input type="input" id="ruler_canvas_width" style="width:50px;font:11px arial;" /><br />
	               <label for="ruler_canvas_height" style="width:40px;display:inline-block;">Height</label><input type="input" id="ruler_canvas_height" style="width:50px;font:11px arial;" /><br />
	            </div>
	            <div class="ruler_unit">
	               <input type="radio" id="ruler_unit_px" name="ruler_unit" value="px" checked /><label for="ruler_unit_px">px</label><br />
	               <input type="radio" id="ruler_unit_cm" name="ruler_unit" value="cm" /><label for="ruler_unit_cm">cm</label><br />
	               <input type="radio" id="ruler_unit_in" name="ruler_unit" value="in" /><label for="ruler_unit_in">in</label>
	            </div>
	            <div class="tb_title">Ruler</div>
	         </div>
	         <div class="tb_v_bar"></div>
	         
	      </div>
	<!----------------------------------------------   Canvas Container   ---------------------------------------------->       
	      <div id="canvas_container">
	      </div>
	<!----------------------------------------------   End Canvas Container   ---------------------------------------------->
	      
	      <div id="status_bar">
	         <div class="status_coord">
	            <div class="icon_24">
	               <div class="icon_16 status_icon_coord" style="position:absolute;left:4px;top:4px"></div>
	            </div>
	            <div class="status_text"></div>
	            <div class="status_seperator"></div>
	         </div>

	         <div class="status_select">
	            <div class="icon_24">
	               <div class="icon_16 status_icon_select" style="position:absolute;left:4px;top:4px"></div>
	            </div>
	            <div class="status_text"></div>
	            <div class="status_seperator"></div>
	         </div>

	         <div class="status_dimension">
	            <div class="icon_24">
	               <div class="icon_16 status_icon_dimension" style="position:absolute;left:4px;top:4px"></div>
	            </div>
	            <div class="status_text"></div>
	            <div class="status_seperator"></div>
	         </div>

	         <div class="status_prompt"></div>

	      </div>
	      
	   </div>
	   
	   <div id="history">
	      <div class="title">Undo / Redo</div>
	      <div class="content"></div>
	      <div class="toolbar">
	         <div name="view"  class="tool view_history" title="View history in XML format"></div>
	         <div name="undo"  class="tool undo" title="Undo"></div>
	         <div name="redo"  class="tool redo" title="Redo"></div>
	         <div name="remove" class="tool remove_entry" title="Remove current history entry"></div>
	         <div name="clear" class="tool clear_history" title="Clear history"></div>
	      </div>
	   </div>
	   
	   <div id="dlg_mask" class="dialog_mask" style="visibility:hidden"></div>
	   
	   
	   
	   <div id="not_support_canvas" style="font:16px arial;height:140px;display:none;text-align:center;line-height:140px;color:Red;">
	      Your browser doesn't support HTML5. You can download IE 9.0, Firefox or Google Chrome to view this site;
	   </div>
	   
      <!-- Not sure why the bucket fill was here? Ben Hall 12/26/2011 -->	   
      <!-- <div title="Fill with color"                    name="bucket_solid"          class="canvas_tool_shape button_19x18 tool_bucket_solid"></div> -->
      <!--
	   <div id="bucket_selection" class="referee" style="display:none;">
         
         <div class="tool_v_bar"></div>
         
         <div title="Fill with linear gradient color"    name="bucket_linear_grad"    class="canvas_tool_shape button_19x18 tool_bucket_linear_grad"></div>
         <div class="tool_v_bar"></div>
         <div title="Fill with radial gradient color"    name="bucket_radial_grad"    class="canvas_tool_shape button_19x18 tool_bucket_radial_grad"></div>
         <div class="tool_v_bar"></div>
         <div title="Fill with reflected gradient color" name="bucket_reflected_grad" class="canvas_tool_shape button_19x18 tool_bucket_reflected_grad"></div>
         
         <div class="tool_v_bar"></div>
         <div title="Fill with reflected diamond color"  name="bucket_diamond_grad"   class="button_19x18 tool_bucket_diamond_grad"></div>
         
	   </div>
	   -->
	   <div id="tools_selection" class="referee" style="display:none;">
         <div title="Rectangular selection" name="select_box" class="canvas_tool_shape button_19x18 tool_select_box"></div>
         <div class="tool_v_bar"></div>
         <div title="Polygon selection" name="select_polygon" class="canvas_tool_shape button_19x18 tool_select_poly"></div>
         <!--
         <div class="tool_v_bar"></div>
         <div title="Polygon selection" name="select_polygon" class="button_19x18 tool_select_poly"></div>
         -->
	   </div>
	   
	   <div id="brush_selection" class="referee" style="display:none;">
         <div title="Simple brush" name="simple_brush" class="canvas_tool_shape button_19x18 tool_brush_simple"></div>
         <div class="tool_v_bar"></div>
         <div title="Ribbon brush" name="ribbon_brush" class="canvas_tool_shape button_19x18 tool_brush_ribbon"></div>
         <div class="tool_v_bar"></div>
         <div title="Hair brush" name="hair_brush" class="canvas_tool_shape button_19x18 tool_brush_hair"></div>
         <div class="tool_v_bar"></div>
         <div title="Long hair brush" name="long_hair_brush" class="canvas_tool_shape button_19x18 tool_brush_longhair"></div>
         <div class="tool_v_bar"></div>
         <div title="Square brush" name="square_brush" class="canvas_tool_shape button_19x18 tool_brush_square"></div>
	   </div>
	   
	   <div style="display:none;background:#fff;position:absolute;right:0px;top:0px;width:200px;height:400px;border:1px solid black;overflow:auto;font:11px arial;z-index:2000;" id="debug_win"></div>
	   <div id="comment_pane" style="display:none;">
         <!-- Test data -->
         <ul id="comment-list">
            <li>
               <div id="comment_form" name="comment_form" class="content" style="width:500px;"><form method="post">
                  
                  <fieldset>
                     <legend class="title">Leave your comment here</legend>

                     <div id="error" style="text-align:center;color:red;font:13px arial;height:16px;line-height:16px;"></div>
                     <fieldset>
                        <legend><span style='color:red;margin-right:5px;'>*</span>Your name:</legend>
                        <input type="text" name="name" id="name" value="" style="width:300px"/>
                     </fieldset>

                     <fieldset>
                        <legend><span style='color:red;margin-right:5px;'>*</span>Subject:</legend>
                        <input type="text" name="subject" id="subject" value="" style="width:600px"/>
                     </fieldset>
                     
                     <fieldset>
                        <legend><span style='color:red;margin-right:5px;'>*</span>Message:</legend>
                        <div style="vertical-align:top;">
                           <textarea type="text" name="message" id="message" style="width:600px;height:120px;"></textarea>
                        </div>
                     </fieldset>
                     
                     <div style="text-align:right">
                        <button class="dlg_btn_action_apply" onclick="submitMessage();return false;">Submit</button>&nbsp;&nbsp;&nbsp;
                     </div>
                  </fieldset>
                  
               </form></div>         
            </li>
         </ul>
         <div class="close_button"></div>
	 </div>
