<div class="feedback_index_wrapper common_border">
<h1 class="red">Feedback</h1>

<% @feedbacks.each do |feedback| %>

  <div class="single_feedback_wrapper">
    <div class="bubble_div">
      <%= button_to 'Delete', feedback, :method => :delete %><%= image_tag('bubble.jpg') %>
    </div>
    <div class="single_feedback_desc">
      <div class="single_feedback_name">
        <%= feedback.name %>
      </div>
      <div class="single_feedback_subject">
        <%= feedback.subject %>
      </div>
      <div class="single_feedback_message">	
        <%= feedback.message %>
      </div>
      <div class="single_feedback_date">	
        <%= time_ago_in_words(feedback.created_at) %> ago
      </div>
    </div>
  </div>
<% end %>

<br/>
<div>
  <%= link_to 'Admin Panel', admin_panel_path() %>
</div>


</div>
