
    <%= csrf_meta_tag %>
    
<script type="text/javascript">

jQuery.ajaxSetup({ 
  'beforeSend': function(xhr) {xhr.setRequestHeader("Accept", "text/javascript")}
})

$(document).ready(function() {  
  $("#cancel_button").live('click', function(){
    $.fancybox.close();
  });
  
  $("#open_read_only_button").live('click', function(){
    url = top.window.$('#post_url').val();
    
    window.location.href='/post/new_canvas/' + url;
  });
  
  $("#open_button").live('click', function(){
    url = top.window.$('#post_url').val();
    
    password = $('#page_password_input').val();
        
    if(password == '' || password == '&nbsp;'){
      alert("Please Enter a Password");
      $('#valid_password').val('false');
      return false;
    }
    
    $.post('/post/valid_password', {"password": password, "url": url}, 'script');
  });
  
  $(".open_forgot").live('click', function(){
  		 
    url = top.window.$('#post_url').val();
    
    email_exists = top.window.$('#post_email').val();
    
    if(email_exists == '' || email_exists == null || email_exists == 'undefined'){
      $('.open_page_wrapper').hide();
      $('.forgot_password_no_email_wrapper').show();
      return false;
    }
    
    $.post('<%= password_resets_path %>', {"url": url}, null);
    
    $('.open_page_wrapper').hide();
    $('.forgot_password_success_wrapper').show();
    
    return false;
  });
  
  $("#search_post_is_url input").keyup(function() {
  		  
        url = $('#post_url_open').val().replace(/ /g,'');
        
        $('#post_url_open').val(url);
        
  	if(url == '' || url == '&nbsp;'){
  	  $('#url_ok_open').html('&nbsp;');	
  	  $('#url_ok_open').removeClass('light_red');		
  	  $('#url_ok_open').removeClass('light_green');
  	  $('#valid_url_open').val('false');
  	  return false;
  	}
  		
    $.get($("#search_post_is_url").attr("action"), $("#search_post_is_url").serialize(), null, "script");
    return false;
  });
  
});

</script>

<div class="popUp_wrapper open_page_wrapper">
  <div class="popUp_header">
    Edit this Page
  </div>

  <div class="popUpContent">
    <div class="popUpText normal_gray">
      
      <table class="open_table">
        <tr>
          <td class="open_table_border">
            <div class="open_table_border_inner_div">
            <span>Enter the password for the page</span><br/>
            <span><%= password_field_tag :password, '', :id => 'page_password_input', :class => 'green_input_field' %></span><br/>
            <span><%= link_to "I forgot the password!", '#', :class => 'open_forgot' %></span><br/>
            </div>
            <button type="button" id="open_button" class="blue_button">Open</button>
          </td>
          <td class="open_table_or">or</td>
          <td class="open_table_border">
            <div class="open_table_border_inner_div">
            <span>No password?</span><br/>
            <span>You can still open it as</span><br/>
            <span>Read-Only, then give it a</span><br/>
            <span>new URL to make a copy</span><br/>
            <span>you can edit</span><br/>
            </div>
            <button type="button" id="open_read_only_button" class="blue_button">Open as Read-Only</button>
          </td>
        </tr>
      </table>
    </div>
    
    <div class="popUpButtonDiv">
      <button type="button" id="cancel_button" class="blue_button">Cancel</button>
    </div> 
  </div>

</div>

<div class="forgot_password_success_wrapper" style="display:none">
  <%= render 'password_resets/forgot_password_success' %>
</div>

<div class="forgot_password_no_email_wrapper" style="display:none">
  <%= render 'password_resets/forgot_password_no_email' %>
</div>
