<div class="home_wrapper">
<script type="text/javascript">	
  if('<%= params[:which] %>' != ''){
    new_tab("<%= params[:which] %>");
  } else {
    new_tab("home");
  }
  
  function new_tab(tab)
  {  
    if(tab == 'create'){	
      $.fancybox.close();
    } else {  
      $(".fb_nav").hide();
      $(".navigation a").removeClass('selected');
      $("#" + tab + "_nav").addClass('selected');
      $("#" + tab).show();
    }
  }
  
</script>

<div class="navigation">
  <%= link_to_function 'Home', "new_tab('home')", :id => "home_nav" %>
  <%= link_to_function 'Create', "new_tab('create')", :id => "create_nav" %>
  <%= link_to_function 'About', "new_tab('about')", :id => "about_nav" %>
  <%= link_to_function 'Help', "new_tab('help')", :id => "help_nav" %>
  <%= link_to_function 'Feedback', "new_tab('feedback')", :id => "feedback_nav" %>
</div>


<div id="home" class="fb_nav" style="display:none">
  <div class="postif_logo_div">
    <%= image_tag('logo.png') %>
  </div>
  
  <div class="text_wrapper">
    <div class="text_top">
      <span class="red">Got something you need to share?</span><br/>
      <span class="green">Instantly create a page on the web</span><br />
      <span class="green">with a link to share it!</span>
    </div>
    <div class="text_middle">
      <span class="green">Free & no registration...</span>
    </div>
    <div class="text_bottom">
      <span class="red">Just use It!</span>
    </div>
  </div>
  
  <div class="create_a_page_div">
    <%= image_tag('create_a_page.png') %>
  </div>
  
  <div class="tell_friends">
    Tell your friends about postif.com
    <%= link_to image_tag('facebook.png'), 'http://www.facebook.com/postif', :target => 'blank' %>
    <%= link_to image_tag('twitter.png'), 'http://twitter.com/#!/postif', :target => 'blank' %>
    <%= link_to image_tag('linkedin.png'), 'http://www.linkedin.com/company/2352726', :target => 'blank' %>
    <%= link_to image_tag('google.png'), '', :target => 'blank' %>
    <%= link_to image_tag('mail.png'), 'mailto:benhall2121@yahoo.com', :target => 'blank' %>
    <%= link_to image_tag('twitter_follow_us.png', :id => 'twitter_follow_us'), 'http://twitter.com/#!/postif', :target => 'blank' %>
  </div>
</div>


<div id="about" class="fb_nav" style="display:none">
  <h1>About</h1>
  <br/>hhhh
  <br/>hhhh
  <br/>hhhh
  <br/>hhhh
  <br/>hhhh
  <br/>hhhh
</div>

<div id="help" class="fb_nav" style="display:none">
  <h1>Help</h1>
</div>

<div id="feedback" class="fb_nav" style="display:none">
  <h1>Feedback</h1>
</div>

<div class="footer">
  (c) <%= Time.now.year %> postif.com. All rights reserved
</div>

</div>

