<div class="email_form_wrapper">
  <div class="email_label_wrapper">
    <%= image_tag('redAsterisk5x5.jpg', :class => "asterisk") %> To:
  </div>
  <div class="email_name_wrapper">
    <%= text_field_tag :to, '', :id => 'email_to_id', :class => 'email_field standard_field', :placeholder => 'To' %>
  </div>
  <div class="email_label_wrapper">
    <%= image_tag('redAsterisk5x5.jpg', :class => "asterisk") %> From:
  </div>
  <div class="email_name_wrapper">
    <%= text_field_tag :from, '', :id => 'email_from_id', :class => 'email_field standard_field', :placeholder => 'Enter Your Email Address' %> <%= check_box_tag "email_cc" %> <span class="email_cc">CC yourself on the email?</span>
  </div>
  <div class="email_label_wrapper">
    <%= image_tag('redAsterisk5x5.jpg', :class => "asterisk") %> Subject:
  </div>
  <div class="email_subject_wrapper">
    <%= text_field_tag :subject, '', :id => 'email_subject_id', :class => 'email_subject_field standard_field', :placeholder => 'Enter A Subject' %>
  </div>
  <div class="email_label_wrapper">
    <%= image_tag('redAsterisk5x5.jpg', :class => "asterisk") %> Message:
  </div>
  <div class="email_message_wrapper">
    <%= text_area_tag :message, '', :id => 'email_message_id', :class => 'email_message_field standard_field', :placeholder => 'Enter A Message' %>
  </div>
  
  <div class="email_submit_wrapper">
    <button type="button" id="email_submit" class="email_submit_button">Submit</button>
    <button type="button" id="email_cancel" class="email_cancel_button">Cancel</button>
  </div>
</div>


