<!DOCTYPE html>
<html>
<head>
  <title>PostIf</title>
    
    <%= stylesheet_link_tag 'fancybox/jquery.fancybox-1.3.4.css', 'application' %>
    <script type="text/javascript" src="/src/jquery-1.4.2.min.js"></script>
    
    <%= javascript_include_tag 'application' %> 
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" %>
    <%= javascript_include_tag "fancybox/jquery.fancybox-1.3.4.pack.js" %>
    <%= javascript_include_tag 'rails' %>
    
    <meta property="og:image" content='<%= image_tag('logo.ong') %>' id="fb_content_image" />
    <meta property="og:title" content='I found this really useful site: <%= request.url %> ' id="fb_content_title" />
    <meta property="og:description" content='I found this really useful site: <%= request.url %> ' id="fb_content_description" />

    <%# if show_ipaint %>
    <!-----  iPaint Files  ----->
        <link rel="stylesheet" type="text/css" href="/style/iPaint.css" />      
        <link rel="stylesheet" type="text/css" href="/style/window.css" /> 
    
        <style type="text/css">
	  #toolbar_close.expand{background:url(/style/collapse.png);cursor:pointer;}
	  #toolbar_close.collapse{background:url(/style/expand.png);cursor:pointer;}
	</style>
	
        <script type="text/javascript">
          function EXTEND(cls,superCls){
            cls.prototype = new superCls();
            cls.prototype.constructor = cls;
            cls.prototype.parent = superCls.prototype; 
          }
        </script>		
        <!--
            Change the google api key based on your domain so that you can search online image 
            using google search engine.
            
            Added by Yubo on 9/21/2011
        -->
        
        <script type="text/javascript" src="https://www.google.com/jsapi?key=ABQIAAAAFdxLwjTbVerV8hz73P9GWRS2L7evLMGoPVmRVJJ45ieHtfHZTBQU0CUMZYOc7yhgnQdjoWC2VonO-A"></script>
        
        <script type="text/javascript" src="/src/jquery.getimagedata.js"></script>
        <script type="text/javascript" src="/colorPicker/jsColorPicker.js"></script>
        <script type="text/javascript" src="/src/dom-drag.js"></script>
        <script type="text/javascript" src="/src/iPaintApp.js"></script>
	<script type="text/javascript" src="/src/history.js"></script>
	<script type="text/javascript" src="/src/Shape.js"></script>
	<script type="text/javascript" src="/src/Trackable.js"></script>
	<script type="text/javascript" src="/src/brush.js"></script>
	<script type="text/javascript" src="/src/rectangle.js"></script>
	<script type="text/javascript" src="/src/window.js"></script>
	<script type="text/javascript" src="/src/ImageProcessor.js"></script>
	<script type="text/javascript" src="/src/sliderControl.js"></script>
	<script type="text/javascript" src="/src/main.js"></script>
    
    <!-----  End iPaint Files  ----->
    <%# end %>

    <%= csrf_meta_tag %>
    
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-26036470-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
 
  </script>
</head>
<body>

<% if !skip_layout %>

  <% if show_main_header_and_footer %>

    <div class="navigation_layout">
      <div class="header_left">
        <div><%= link_to 'Home', home_path(:which => 'home'), :class => 'header_nav', :id => 'popHome' %></div>
        <div><%= link_to 'Create', root_path(), :id => 'popcreate_nav' %></div>
        <div><%= link_to 'About', home_path(:which => 'about'), :class => 'header_nav', :id => 'popAbout' %></div>
        <div><%= link_to 'Help', home_path(:which => 'help'), :class => 'header_nav', :id => 'popHelp' %></div>
        <div><%= link_to 'Feedback', home_path(:which => 'feedback'), :class => 'header_nav', :id => 'popFeedback' %></div>
      </div>
  
      <div class="header_right">
        <div><%= link_to image_tag('beta32x19.png'), root_url %></div>
        <div><%= link_to image_tag('smallLogo_greenBackground103x25.png'), root_url %></div>
      </div>
    </div>

  <% end %>
<% end %>


<%= yield %>

<% if !skip_layout %>

  <% if show_main_header_and_footer %>
    <div class="tell_friends">
      Tell your friends about postif.com
      <a href="http://www.facebook.com/sharer.php?s= 100&amp;p[title]=postif&amp;p[url]=<%= request.url %>&amp;p[images][0]=http://www.postif.com/images/logo.png&amp;p[summary]=I found this really useful site: <%= request.url %>&amp;p[content]=awesome content" target="_blank"><%= image_tag('facebook.png') %></a>
      <%= link_to image_tag('twitter.png'), 'http://twitter.com/home?status=I found this really useful site: ' + request.url, :target => 'blank' %>
      <%= link_to image_tag('linkedIn.png'), 'http://www.linkedin.com/shareArticle?mini=true&url=' + request.url + '&title=postif.com&summary=I found this really useful site: ' + request.url + ' &source=' + request.url, :target => 'blank' %>
      <%= link_to image_tag('google.png'), 'https://m.google.com/app/plus/x/?v=compose&content=I found this really useful site: ' + request.url, :target => 'blank' %>
      <%= link_to image_tag('mail.png'), home_path(:which => 'email'), :class => 'header_nav' %>
    
      <%= link_to image_tag('twitter_follow_us.png', :id => 'twitter_follow_us'), 'http://twitter.com/postifcom', :target => 'blank' %>
      <%= link_to image_tag('subscribe.png', :id => 'subscribe_to_postif'), home_path(:which => 'subscribe'), :class => 'header_nav' %>
    </div>

    <div class="footer">
      (c) <%= Time.now.year %> postif.com. All rights reserved
    </div>
  
  <% end %>  
<% end %>

</body>
</html>
